.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-brand-purple-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(125 46 237 / var(--tw-bg-opacity))
}
